.work{
  width: 100%;
  padding:20px;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom:10px;
  .title{
    font-size: 28px;
    padding-bottom: 20px;
  }
  .img-list{
    display: flex;
    flex-wrap: wrap;
    .imgN{
      margin-right:26px;
      margin-top:10px;
    }
    .imgN1{
      width: 58%;
      height: 530px;
    }
    .imgN2{
      width: 40%;
      height: 350px;
    }
    .imgN3 {
      width: 28%;
      height: 258px;
    }
  }
}