
.index{
  padding:10px;
  .banner{
    width: 100%;
    height: 378px;
    border-radius: 10px;
  }
  .hidden{
    display: none;
  }
  .opera-cates{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    .cate-item{
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .icon{
        width: 100px;
        height: 100px;
      }
      .text{
        font-size :28px;
      }
    }
  }
  .sorry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    .sorry-image{
      height: 400px;
      display: block;
    }
  }
}
