.poster{
  .btn-wrapper{
    width: 100%;
    display: flex;
    padding-top:30px;
    // text-align: center;
    // justify-content: space-around;
    .btns{
      // display: block;
      // width: 200px;
    }
  }
}